header nav{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
}
body{
    background-color: var(--gris-footer);
}
.btn-comprar{
    font-family: var(--lato);
    background-color: var(--verde-boton);
    width: 12.5rem;
    height: 3.125rem;
    color: white;
    font-weight:900;
    font-size: 1.25rem;
    line-height: var(--interlineado);
 
    border-radius: 3.125rem;
    border: .5rem solid white;
    box-sizing: content-box; 
    box-shadow: 4px 5px 0px 0px var(--azul-drop-shadow);
    cursor: pointer;
}
.hamburguesa{
    display: flex;
    flex-direction: column;
    width: 2.125rem;
   
}
.hamburguesa span{
    margin-bottom: -1px;
    background-color: var(--naranja-hamburguesa);
    width: 100%;
    height:.25rem ;
    border-radius: 111px;
    border: .25rem solid white;
    box-sizing: content-box; 
    box-shadow: 4px 5px 0px 0px var(--azul-drop-shadow);
    cursor: pointer;
    z-index: 1;
}

.container-section-1{
    overflow-x: hidden;
    background-image: url("../images/fondo.png");
    width: 1279px;
    height: 959px;
    margin: 0 auto;
    background-size: cover;
}
.logo-img{
   padding-left: 182px;
   padding-top: 35px;
}
.main-section{
    display: flex;
}
.number-1-home{
    padding-top: 123px;

   z-index: 10;
}
.number-2-home{
    margin-left:-150px ;
    padding-top: 20px;
    z-index: 5;
}
.number-3-home{
    margin-left: -70px;
    margin-top: -42px;
}
.sombra{
    width: 140px;
    height: 33px;
    background-color: rgba(68, 104, 63, 0.61);
    filter: blur(13.5px);
    z-index: -1;
}
.sombra-1{
    margin-left: 90px;
    margin-top: -80px;
}


.sombra-2{
    margin-left: 70px;
    margin-top: 38px;

}
.sombra-3{
    margin-top: -50px;
    margin-left: 30px;
}
.arbol-1{
   margin-top:-375px;
   margin-left:-145px;
}
.arbol-2{
    margin-top: -270px;
    margin-left: -55px;
    z-index: 1;
}
.arbol-3{
    margin-left: -230px;
    margin-top: -100px;
}


.section-2{
    background-image: url("../images/svg/rectangulofade.svg");
    background-size: cover;
    min-width: 120px;
    min-height: 900px;
}