header nav{
    max-width: 1280px;
    min-height: 103px;
    min-width: 1280px;
}
header {
    position: fixed;
    top: 0; 
    z-index: 1000;
}

body{
    background-color: white;
}



.btn-comprar{
    font-family: var(--lato);
    background-color: var(--verde-boton);
    width: 12.5rem;
    height: 3.125rem;
    color: white;
    font-weight:900;
    font-size: 1.25rem;
    line-height: var(--interlineado);
 
    border-radius: 3.125rem;
    border: .5rem solid white;
    box-sizing: content-box; 
    box-shadow: 4px 5px 0px 0px var(--azul-drop-shadow);
    cursor: pointer;
    position: absolute;
    left: 980px;
    top:20px;
}
.hamburguesa{
    display: flex;
    flex-direction: column;
    width: 2.125rem;
   position: absolute;
   top:20px;
   left: 100px;
}
.hamburguesa span{
    margin-bottom: -1px;
    background-color: var(--naranja-hamburguesa);
    width: 100%;
    height:.25rem ;
    border-radius: 111px;
    border: .25rem solid white;
    box-sizing: content-box; 
    box-shadow: 4px 5px 0px 0px var(--azul-drop-shadow);
    cursor: pointer;
    z-index: 5;
}

.container-section-1{
    overflow-x: hidden;
    background-image: url("../images/fondo.png");
    width: 1280px;
    height: 959px;
    margin: 0 auto;
    background-size: cover;
    position: relative;
}
.logo-img{
    position: absolute;
    top: 55px;
    left: 361px;
    transition: transform 0.3s ease;
}

.number-1-home{
    
    position: absolute;
    top: 501px;
    left: 411px;
    z-index: 10;
}
.number-2-home{
    position: absolute;
    top:404px;
    left: 536px;
    z-index: 5;
}
.number-3-home{
    position: absolute;
    top: 339px;
    left: 694px;
    z-index: 2;
}
.sombra{
    width: 140px;
    height: 33px;
    background-color: rgba(68, 104, 63, 0.61);
    filter: blur(13.5px);
    z-index: 1;
  
}
.sombra-1{
    position: absolute;
    bottom: 50px;
    left: 87px;
}


.sombra-2{
    position: absolute;
    left: 80px;
    top: 320px;
    
}
.sombra-3{
    position: absolute;
    left: 30px;
    bottom: 20px;
}
.arbol-left,.arbol-right-1,.arbol-right-2{
    position: relative;
}
.arbol-1{
    position: absolute;
   left:-150px;
   z-index: 1;
}
.arbol-2{
    position: absolute;
    left: 881px;
    top: 107px;
    z-index: 5;
}
.arbol-3{
    position: absolute;
    left: 1081px;
    top:278px;
    z-index:2;
}

.arbusto-1{
    position: absolute;
    left: 165px;
    top: 715px;
    z-index: 0;
}
.piedra-1{
    position: absolute;
    top: 795px;
    left: 125px;
    z-index: 5;
}
.arbusto-2{
    position: absolute;
    top: 825px;
    left: 195px;
    z-index: 10;
}
.piedra-2{
    position: absolute;
    top:785px;
    left: 1040px;
    z-index: 10;
}
.piedra-3{
    position: absolute;
    top:738px;
    left: 1035px;
    z-index: 7;
}
.piedra-4{
    position: absolute;
    top:738px;
    left: 1070px;
    z-index: 7;
}
.arbusto-3{
    position: absolute;
    left: 1080px;
    top: 650px;
    z-index: 4;
}
.arbusto-4{
    position: absolute;
    left: 1030px;
    top: 619px;
    z-index: 1;
}
/*seccion 2*/
.container-section-2{
    position: relative;
    width: 1280px;
    margin: 0 auto;
    
}
.hero-2{
    background-image: url("../images/svg/rectangulofade.svg");
   
    background-repeat: no-repeat;
   
}

/*       <div class="hero-3-4">
                    <div class="number4"><img src="images/4.png" alt=""></div>
                    <div class="number5"><img src="images/5.png" alt=""></div>
                </div>*/
.app-promo{
    font-family: var(--lato);
    color: var(--azul-tipografia);
    margin-left:100px;
    padding-top: 50px;
    height: 894px;
}
.app-promo h1{
    font-size: 47px;
    font-weight:600;
    max-width: 508px;
} 
.app-promo p{
    margin-top: 8px;
    max-width: 700px;
    font-weight:400;
    font-size: 20px;
}

.carousel-card{
    width: 518px;
    height: 266px;
    overflow: hidden;
    border: solid var(--azul-stroke-video) 29px;
    border-radius: 77px;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 136px;
    margin-top: 20px;
}
.carousel{
    display: flex;
    transition: transform 1s ease;
}

.carousel img{
    width: 518px;
    height: auto;
    object-fit:cover;
}

@keyframes slide {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-518px);
    }
    50%{
        transform: translateX(-1036px);
    }
    75%{
        transform: translateX(-1554px);
    }
}

.carousel{
    animation: slide 12s infinite;
}

.app-numbers{
    position: relative;
}


.hero-3{
    display: flex;
    width: 1280px;
    background-color: white;
    margin: 0 auto;
    margin-top: 250px;
    justify-content: center;
}
.number4{
    position: absolute;
    right: 629px;
    top:-125px;
}
.number5{
    position: absolute;
    left:687px;
    top:-765px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 333px;
    height: 303px;
    font-family: var(--lato);
    font-size: 20px;
    margin-right: 40px;
}
.card img{
    width: 315px;
    border: solid var(--celeste-stroke-card) 9px ;
    border-radius: 41px;
    margin-bottom: 14px;
    box-shadow: 4px 5px 0px 0px var(--azul-drop-shadow);
}


/* Seccion 4*/
.container-section-4 {
    width: 80rem;
    height: 72.3125rem;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0 auto;
    margin-top: 25rem;

}

.section-matematica {
    position: absolute; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    color: #fff;
}

.section-matematica svg {
    position: absolute; 
    z-index: 1; 
}

.title-section-matematica, .btn-descarga {
    z-index: 3; 
}

.title-section-matematica {
    font-family: var(--lato);
    color: white;
    position: absolute;
    z-index: 2;
    text-align: center;
    font-size: 3.8213rem;
    font-weight: 500;
    margin-top: 10.9375rem;
    margin-bottom: 3.875rem;
    width: 70%; 
    margin-left: auto;
    margin-right: auto;
    top: 0;
    
}

.title-section-matematica span {
    font-weight: bold;
    font-style: italic;
}

.btn-descarga {
    cursor: pointer;
    background-color: var(--verde-boton); 
    width: 33.75rem;
    height: 66px;
    border-radius: 6.9375rem;
    border: .5rem solid white;
    color: white;
    font-family: var(--lato);
    font-size: 1.9463rem;
    font-weight:600;
    box-shadow: 4px 5px 0px 0px var(--azul-drop-shadow);
    position: absolute;
    top: 24.375rem;
    box-sizing: content-box; 
    
}

.section-matematica img {
    position: absolute;
    bottom: 0;
    transform: scale(1.2);
    z-index: 2; 
}
/* Seccion 5*/
.container-section-5{
    width: 80rem;

    overflow-x: hidden;
    overflow-y: hidden;
    margin: 10.9375rem auto;
}
.section-friend {
    width: 67.5rem;
    margin: 0 auto; 
}
.title-section-friend h1{
    font-family: var(--lato);
    font-size: 3.75rem;
    font-weight: 600;
    line-height: var(--interlineado);
    color: black;
    
}
.container-parrafo h1 {
    font-size: 2.5rem;
    font-family: var(--lato);
    line-height: var(--interlineado);
    color: black;
}
.column-parrafo{
    margin-top: 5.625rem;
    margin-left: 2rem;
    position: sticky
}
.column-characters{
    position: sticky;
    top: 10rem; /* La imagen se mantiene fija hasta que termina el contenido */
    width: 40%;
    z-index: 1;  /* Asegura que la imagen quede encima del texto */
}
.container-parrafo p{
    font-size: 1.25rem;
    font-family: var(--lato);
    line-height: var(--interlineado);
    margin-top: .9375rem;
    
}
.container-parrafo:not(:last-child) {
    margin-bottom: 267px;
}
.container-imgCharacter-parrafo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8.3125rem;
}
.parrafo-title{
    display: flex;
    flex-direction: row;
}
.container-parrafo{
    width: 29.1875rem;
    transition: opacity 0.3s ease-out;
    position: sticky;
}
/* Seccion 6*/
.container-section-6{
    width: 80rem;
    height: 90.25rem;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0 auto;
}

.container-section-6 svg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.section-video {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.content-video {
    max-width: 1080px;
    text-align: start;
    margin-bottom:150px;
}

.title-section-video {
    font-size: 3.75rem;
    font-family: var(--lato);
    font-weight: 600;
    line-height: var(--interlineado);
    color: white;
    margin-bottom: 2.875rem;
}

.video-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.video-container iframe {
   border: 29px solid white;
   border-radius: 2.8125rem;
   overflow: hidden;
   width:50.25rem;
   height: 28.25rem;
   box-sizing: border-box;
}

.img-personaje3Video {
    position: absolute;
    z-index: 2;
    right:-5px;
    bottom: 7.5rem;
}

/*Secciones de fran*/
.seccion7, .seccion8, .seccion9{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    color: #000000;
    
}
.seccion7 .container, .seccion9 .container, footer .container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 20px;
}


/*seccion 7*/
.seccion7 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1030px;
    padding-top: 220px;
}

.seccion7 .container{
    padding: 20px;
    display: flex;
    overflow: hidden;
}

.seccion7 .text-container{
    padding-top:220px ;
    position: relative;
    z-index: 2;
}

.seccion7 h2,.seccion9 h2{
    width: 746px;
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: 600;
    line-height: 56.7px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.seccion7 .text-container h2{
    width: 746px;
    margin-bottom: 20px;
    font-family: var(--lato);
    color: var(--rojo-titulo);
}


.seccion7 .text-container p{
    width: 467px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--lato);
    line-height: 18.9px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.seccion7 .model-3d{
    position: relative;
    width: 667px;
    height: 973px;
    z-index: 1;
    bottom: 0;
    left: -250px;
}





/*seccion 9*/
.seccion9 {
    font-family: var(--lato);
    position: relative;
    background: linear-gradient(180deg, #FFFFFF 0%, #EDFDFF 20%, #ADF8FD 65%, #E0D299 80%);
    overflow: hidden;
    z-index: -99;
}

.seccion9 .container{
    padding-top: 188px;
    height: 1382px;
}

.seccion9 form {
    display: flex;
    min-height: 100px;
    width: 780px;
    margin-top: 36px;
    position: relative;
    border-radius: 50px;
    z-index: 1; /* Para que el formulario quede por encima del fondo negro */
}

.seccion9 form::before {
    content: "";
    position: absolute;
    top: 5px; /* Ajusta la distancia hacia abajo */
    left: 5px; /* Ajusta la distancia hacia la derecha */
    width: 100%;
    height: 100%;
    background-color: #02187e;
    border-radius: 50px;
    z-index: -1; /* Envía el fondo detrás del formulario */
}


.seccion9 form input{
    padding-left: 52px;
    border: solid white 9px;
    width: 553px;
    background-color: #e8e8e8;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    font-family: var(--lato);
    font-size: 20px;
    font-weight: 400;
    line-height: 18.9px;
    letter-spacing: 0.11em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.seccion9 form button {
    width:218px;
    border: solid white 9px;
    border-left: none;
    font-size: 1em;
    outline: none;
    background-color: var(--verde-boton);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

    font-family: var(--lato);
    font-size: 20px;
    font-weight: 900;
    line-height: 18.9px;
    letter-spacing: 0.11em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.seccion9 .info{
    width: 578px;
    margin-top: 46px;
    margin-bottom: 20px;
    font-family: var(--lato);
    font-size: 20px;
    font-weight: 400;
    line-height: 18.9px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.seccion9 span{
    text-decoration-line: underline;
    text-decoration-style: solid;
}
.seccion9 .gifs{
    display: flex;
    max-height: 900px;
    align-items: flex-end;
    position: relative;
    z-index: 2;
    top: -180px;
}
.seccion9 .NumberBlocks2{
    position: relative;
    z-index: 2;
    left: -45px;
}
.seccion9 .NumberBlocks3{
    position: relative;
    z-index: 3;
    left: -175px;
    top: -13px;
}
.seccion9 .NumberBlocks7{
    position: relative;
    z-index: 4;
    left: -355px;
    top: 67px
}
.pastoprefooter{
    width: 8;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
}
.paralax-prefooter img{
    position: absolute;
}

.paralax-prefooter .nubeprefooter1 {
    z-index: -2;
    position: absolute;
    top: 536px;
    right: -290px;
    animation: infiniteParallax 20s linear infinite;
}

.paralax-prefooter .nubeprefooter2 {
    z-index: -3;
    position: absolute;
    top: 560px;
    right: -400px;
    animation: infiniteParallax 26s linear infinite;
}

.paralax-prefooter .nubeprefooter3 {
    z-index: -1;
    position: absolute;
    top: 819px;
    right:-400px;
    animation: infiniteParallax 15s linear infinite;
}


@keyframes infiniteParallax {
    0% { transform: translateX(50px); }
    100% { transform: translateX(-1700px); }
}

/*seccion 8*/

.seccion8 {
    position: relative;
    width: 1280px;
    height: 729px;
    background-image: url("../images/Personajesgrilla.png");
    z-index: 99;
}
.seccion8 img{
    position: relative;
    bottom: -2px;
}
.seccion8 .container {
    display: flex;
    max-width: 1280px;
    flex-wrap: wrap;
}

.seccion8 .grilla{
    position: relative;
}

.seccion8 .grilla1{
    width:250px ;
    height: 374px;
    background-color: #af1a1b;
    box-shadow: inset 0px 4px 50px rgba(0, 0, 0, 0.5);
}

.seccion8 .grilla2{
    width:235px ;
    height: 375px;
    left: 28px;
    background-color: #D58530;
    box-shadow: inset 0px 4px 50px rgba(0, 0, 0, 0.5);
}

.seccion8 .grilla3{
    width:238px ;
    height: 375px;
    left: 59px;
    background-color: #B8A40D;
    box-shadow: inset 0px 4px 50px rgba(0, 0, 0, 0.5);
}

.seccion8 .grilla4{
    width:225px ;
    height: 375px;
    left: 89px;
    background-color: #39AF01;
    box-shadow: inset 0px 4px 50px rgba(0, 0, 0, 0.5);
}

.seccion8 .grilla5{
    width:214px ;
    height: 375px;
    left: 120px;
    background-color: #1DA2AB;
    box-shadow: inset 0px 4px 50px rgba(0, 0, 0, 0.5);
}

.seccion8 .grilla6{
    width:248px ;
    height: 324px;
    bottom: -15px;
    background-color: #441F91;
    box-shadow: inset 0px 4px 50px rgba(0, 0, 0, 0.5);
}

.seccion8 .grilla7{
    width:236px ;
    height: 325px;
    bottom: -15px;
    left: 31px;
    background-color: #af1a1b;
    box-shadow: inset 0px 4px 50px rgba(0, 0, 0, 0.5);
}

.seccion8 .grilla8{
    width:237px ;
    height: 324px;
    bottom: -15px;
    left: 62px;
    background-color: #AE1E73;
    box-shadow: inset 0px 4px 50px rgba(0, 0, 0, 0.5);
}

.seccion8 .grilla9{
    width:225px ;
    height: 323px;
    bottom: -16px;
    left: 92px;
    background-color: #6D6865;
    box-shadow: inset 0px 4px 50px rgba(0, 0, 0, 0.5);
}

.seccion8 .grilla10{
    width:216px ;
    height: 326px;
    bottom: -14px;
    left: 120px;
    background-color: #FFFFFF;
    box-shadow: inset 0px 4px 50px rgba(0, 0, 0, 0.5);
}

.personaje-grilla:hover {
    position: relative;
    z-index: 10;
    animation: zoomIn 0.3s forwards;
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
        box-shadow: none;
    }
    100% {
        transform: scale(1.1);
        filter: drop-shadow(0 0 20px rgb(252, 243, 67));
    }
}

/*footer*/
footer{
    height: 595px;
    width: 1280px;
    margin: 0 auto;
    background-color: var(--gris-footer);
}
footer .icons-consoles{
    display: flex;
    justify-content: center;
    height: 80px;
    width: 1280px;
    background-color: var(--negro-consolas);
}

footer p{
    width: 820px;
    padding-top:30px;

    font-family: var(--lato);
    font-size: 20px;
    font-weight: 400;
    line-height: 18.9px;
    letter-spacing: 0.11em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);
}

footer span{
    text-decoration-line: underline;
    text-decoration-style: solid;
}

footer .container img{
    padding-top: 35px;
}