@import url(style.css);

.relleno{
    height: 200px;
}
.carousel-container{
    padding-left: 7.5%;
    width: 85%;
    display: flex;
    position: relative;
    overflow: hidden;
    padding-top: 6.25rem;
}
.carousel{
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    margin-right: 15px;
    margin-left: 15px;
    scroll-behavior:smooth;
}
.card{
    min-width: 22%;
    width: 330px;   
    font-family: Arial, sans-serif;
    color: white; 
    margin-right: 15px;
    transition: transform 900ms ease;
}

.card-content{
    background-color: var(--secondary-dark);
    border-radius:8px;
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.card-info p{
    padding-top: 6px;
    letter-spacing: 0.5px;
    padding-bottom: 3px;
}
.card-button{
    margin-bottom: 9px;
}
.card img{
    object-fit: cover;
    width: 100%;
    border-radius:8px 8px 0 0;
}

.card-title {
    font-size: 12px;
    color: #c4c4c4;
    font-family: var(--title);
    font-weight: var(--font-weight-semibold);
    margin: 0 0 0 10px;
}


.card-price {
    font-size: var(--large);
    font-weight: var(--title);
    font-weight: var(--font-weight-bold);
}

/*cambiar por el que hizo tomi*/ 
.card-button {
    background-color: #6d44fc;
    color: white;
    border: none;
    width: 8.125rem;
    height: 2.1875rem;
    font-size: 1rem;
    border-radius: .5rem;
    cursor: pointer;
}

.card-button:hover {
    background-color: #5633cc;
}

.right-arrow,.left-arrow{
    width: 6.25rem;
    background-color: var(--secondary-dark);
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.right-arrow img,.left-arrow img{
    height: 4.375rem;
    
}
.carousel::-webkit-scrollbar {
    display: none;
}
.ver-mas{
    background-color: var(--secondary-dark);
    border-radius: 8px;
    color: white;
}

@media (max-width:1280px){
    .card-button {
        width: 90px;
        height: 28px;
        font-size: 12px;
    }
    .card-info p{
        font-size: 24px;
        padding-top: 6px;
        letter-spacing: 0.5px;
        padding-bottom: 3px;
    }
    .card-title{
        font-size: 9px;
    }
    
}