@import url(style.css);

footer{
    background-color: var( --secondary-dark);
    height: 11.25rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
h2, ul li{
    color: var(--white);
}
h2{
    font-size: .5625rem;
    font-weight: bold;
    font-family: "Noto Sans", sans-serif;
}
ul li{
    font-size: .4375rem;
    list-style-type: none;
    font-family: 'Hind',sans-serif;
}
p{
    color: var(--transparent-white);
    font-size: .375rem;

}
.imgRedes{
    width: .75rem;
    height: .75rem;
}
.logo-footer{
    width: 1.75rem;
    height: 1.0625rem;
}
.logo-copyright{
    width: .5206rem;
    height: .5206rem;
}
.container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "about help contact"
    "account socialNetworks category";
    gap: .9375rem;
    
}
.container-copyright{
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
    ". copyright . ";
    gap: .25rem;
    position: absolute; /* se posiciona en relación al elemento contenedor más cercano que tenga una posición distinta de static (que es el valor predeterminado).*/
    bottom: .3125rem; 
}
.copyright{
    display: flex;
    align-items: center;
    grid-area: copyright;
    gap: 0.125rem;
}
.about{
    grid-area: about;
    
}
.help{
    grid-area: help;
}
.contact{
    grid-area: contact;
}
.account{
    grid-area: account;
}
.category{
    grid-area: category;
}
.socialNetworks{
    grid-area: socialNetworks;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.social{
    display: flex;
    flex-direction:row ;
    gap: .125rem;
}
.hide-mobile{
    display: none;
}

@media (min-width: 768px) {

    footer{
        height: 31.25rem; /*500px*/ 
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative; /*  se posiciona de manera relativa a su posición normal en el flujo del documento. 
                                Esto significa que sigue ocupando su espacio original en el diseño*/

    }
    .container{
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: 
        "about help contact account category socialNetworks";
        gap:2.5rem

    }

    h2{
        font-size: 1.25rem;
        margin-bottom: .625rem;
    }

    ul li {
        font-size: var(--font-size-normal);
        list-style-type: none;
    }
    p{
        font-size: var(--font-size-small);
    }
    .container-copyright{
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: 
        ". . . copyright . .";
        gap: .25rem;
        position: absolute; /* se posiciona en relación al elemento contenedor más cercano que tenga una posición distinta de static (que es el valor predeterminado).*/
        bottom: .625rem; /* Mueve el elemento 10px del borde inferior del contenedor */

    }
    .copyright{
        display: flex;
        align-items: center;
        grid-area: copyright;
        gap: 0.125rem;
    }
    .logo-footer{
        width: 4.6875rem;
        height: 2.625rem;
    }
    .logo-copyright{
        width: 1.5rem;
        height: 1.5rem;
    }
    .imgRedes{
        width: 1.25rem;
        height: 1.25rem;
    }
    .hide-mobile{
        display: list-item;
    }
}

