@import url(style.css);
.breadcrumbs{
    padding: .625rem;
    font-family: var(--body);
}
.breadcrumbs-item{
    display:inline-block;
}
.breadcrumbs-item:not(:last-of-type)::after{
    content: '/';
    margin: 0 .3125rem;
    color: var( --transparent-white);
}
.breadcrumbs-link{
    text-decoration: none;
    color: var( --transparent-white);
    font-size: var(--normal);
}
.breadcrumbs-link:hover{
    text-decoration: underline;
}
.breadcrumbs-link-active{
    color: var(--white);
    font-weight: bold;
}
.container-game{
    padding-top: 4.375rem;
    background-color: var(--secondary) ;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.container-game-screen{
    display: flex;
    flex-direction: column;
}

.container-img-game{
    position: relative;
    display: inline-block;
}
.img-game-screen{
    display: block;
}
.overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.btn-game{
    cursor: pointer;
    border-radius: 8px;
    width: 12.5625rem;
    height: 3.4375rem;
    border-style: none;
    color: var(--white);
    background: var(--primary-gradient-1);
    font-size: var(--large);
    font-family: var(--button);
}
.title-game{
    color: var(--white);
    font-family: var(--title);
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: .3125rem;
}
.game-info{
    background-color: var(--secondary-dark);
    width: 70.5625rem;
    height: 2.8125rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.title-game-info{
    margin: 0;
    text-align: right;
    color: var(--white);
    font-family: var(--title);
    font-size: 1.25rem;
    font-weight: 400;
    margin-left: 1.25rem;
}
.list-game-info{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
    align-items: center;
}
.item-game-info {
    margin-top: .3125rem;
    margin-right: 1.25rem;
    cursor: pointer;
}
.container-description-game{
    background-color: var(--secondary-light);
    width: 70.5rem;
    height: 41.0625rem;
    border-radius: .5rem;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
 
}
.title-description-game,.description-game{
    color: var(--white);
}
.title-description-game{
    font-family: var(--title);
    font-size: 1.5rem;
    font-weight: 400;
}
.description-game a {
    text-decoration: none;
    color: var(--white);
}
.description-game a:hover{
    text-decoration: underline;
}
.description-game{
    font-family: var(--body);
    font-size: var(--normal);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1.875rem; 
    margin-bottom: 1.875rem;
   
}
.text-description-game{
    display: flex;
    flex-direction: column;
    width:24.875rem;
    height: 22.3125rem;
   
}
.video-simulation-game{
    padding-top:1.875rem;
    display: flex;
    justify-content:center;
    gap:1.375rem;
}


.title-interests h2{
    font-family: var(--title);
    font-size: 1.25rem;
    color: var(--white);
    font-weight: 400;
    margin-bottom: .5rem;
}

.card-interests{
    width: 17.125rem;
    height:10.875rem;
    background-color: var(--secondary-dark);
    border-radius:.5rem;
}
.card-interests-info{
    background-color: var(--secondary-dark);
    width: 17.125rem;
    height: 2.9375rem;
    border-radius: 0 0 .5rem .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.title-card-interests{
    font-size: .625rem;
    margin-left: .375rem;
    margin-top: .0281rem;
    font-weight: var(--font-weight-semibold);
  
}
.price-card-interests{
    font-size: 1.5rem;
    margin-left: .375rem;
    font-weight: var( --font-weight-bold);
   
    
}
.title-price-container {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}
.title-card-interests, .price-card-interests{
    color: var(--white);
    font-family: var(--title);
}

.img-card-interests{
    width: 17.125rem;
    height: 7.9375rem;
    border-radius:.5rem .5rem 0 0;
    /*object-fit: cover;*/
}

.btn-card-interests-play,.btn-card-interests-add{
    color:var(--white);
    border-radius: .5rem;
    width: 8.125rem;
    height: 2.1875rem;
    font-size: var(--button);
    border: none;
    cursor: pointer;
    margin-right: .375rem;
    margin-bottom: .375rem;
    margin-left: auto;
}
.btn-card-interests-play{
    background: var(--primary-gradient-1);
}
.btn-card-interests-add{
    background-color: var(--accent);
    font-size: var(--button);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .1875rem;
   
}
.container-interests{
    background-color:var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6.25rem;
}

.container-interests-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, auto);  
    gap: .625rem;
    grid-template-areas:
    "card1 card2 card3 card4"
    "card5 card6 card7 card8"; 

}
.cardInterest-one { grid-area: card1;}
.cardInterest-two { grid-area: card2; }
.cardInterest-three { grid-area: card3; }
.cardInterest-four { grid-area: card4; }
.cardInterest-five { grid-area: card5; }
.cardInterest-six { grid-area: card6; }
.cardInterest-seven { grid-area: card7; }
.cardInterest-eight { grid-area: card8; }

.container-comments{
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: var(--secondary);
    padding-bottom: 6.25rem;
}
.container-splitter-comment{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    max-width: 67.75rem;
    border-bottom: .0625rem solid var(--white);
    padding-bottom: .1875rem;
    padding-left:1.5625rem;
    padding-right:1.5625rem;
}
.title-splitter-comment{
    color:var(--white);
    font-family: var(--body);
    font-weight: var(--font-weight-semibold);
    font-size: .9375rem;
}
.btn-splitter-comment{
    color: var(--white);
    font-family: var(--button);
    font-size: .9375rem;
    gap: .125rem;
    background: none;
    border-radius: .5rem;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.comment-box {
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
}
.container-comment{
    width: 60.0625rem;
    display: flex;
    flex-direction: column;
}
.container-comment:not(:first-child) {
    margin-top: 25px;
}
  
.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.user-info {
    display: flex;
    align-items: center;
}

.avatar {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    margin-right: .625rem;
    position: relative;
    top: .3125rem;
}
  
.username {
    color: var(--white);
    font-weight: var(--font-weight-semibold);
    font-family: var(--body);
    font-size: var(--normal);
    margin-left: .5625rem;
}

.comment-date {
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: .75rem;
    color: rgba(255, 255, 255, 0.9);
    font-family: var(--body);
    font-size: var(--small);
}

.comment-body {
    font-family: var(--body);
    color: var(--white);
    font-size: var(--normal);
    padding-left: 4.1875rem;
  
}

.comment-footer {
    display: flex;
    flex-direction: row;
    margin-top: .4375rem;
    padding-left: 4rem;
}

.like-dislike {
    display: flex;
    align-items: center;
}

.like-btn, .dislike-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 .3125rem;
    color: var(--transparent-white);
    font-family: var(--title);
    display: flex;
    align-items: center;
    gap: .375rem;
}
.reply{
    margin-left: 2.9375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.date-comment {
    color: rgba(255, 255, 255, 0.9);
    font-size: var(--small);
    margin-right: .5625rem; 
    font-family: var(--body);

}
.reply-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-family: var(--button);
    font-weight: var(--font-weight-semibold);
    font-size: 1.0625rem;
}

.comment-responses {
    margin-top: .7188rem;
    padding-left: 4.1875rem;
}

.responses-btn {
    display: flex;
    align-items: center;
    gap: .375rem;
    background: none;
    border: none;
    color: var(--accent);
    cursor: pointer;
    font-family: var(--button);
    font-weight: var(--font-weight-semibold);
    font-size: 1rem;
}
.disable{
    visibility: hidden;
}

/*Popups*/

.controls-menu{
    display: none;
    position: absolute;
    height: 350px;
    width: 500px;
    background-color: var(--secondary-dark);
    border-radius: 20px;
    top: 255px;
    right: 10px;
    color: var(--white);
}

.controls-menu.show{
    display: block;
}

.controls-menu h1 {
    text-align: center;
    margin-top: 40px;
}

.controls-menu h2 {
    margin-bottom: 10px;
    font-size: 20px;
}
.controls-menu p {
    margin-top: 12px;
    font-family: var(--body);
    font-size:var(--medium) ;
}

.controls-menu h1,.controls-menu h2,.share-menu h1{
    font-family: var(--title);
    font-weight: var(--font-weight-medium);
    font-size: var(--medium);
}

.game-controls{
    display: flex;
    justify-content: space-evenly;
}

.control-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.move-control{
    margin-left: 25px;
}

.control-item img {
    margin-top: 10px; 
}


.share-menu{
    display: none;
    position: absolute;
    height: 155px;
    width: 500px;
    background-color: var(--secondary-dark);
    border-radius: 20px;
    top: 450px;
    right: 10px;
    color: var(--white);
}

.share-menu h1{   
    text-align: center;
    margin-top: 20px;
}


.share-menu.show{    
    display: block;
}

.share-socials{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px; 
    margin-top: 15px;
}

.share-socials div {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    cursor: pointer; 
}

.share-socials p {
    margin: 0;
    margin: 0;
    font-family: var(--body);
    font-size: var(--normal);
}

.share-socials .icon-mail{
    margin-bottom: 5px;
}

.share-socials .icon-x{
    margin-bottom: 3px;
}

.icon-cruz-game {
    width: 1.875rem;
    height: 1.875rem; 
    position: absolute; 
    top: 1.25rem; 
    right: .625rem;
    cursor: pointer;  
}

/*corazon favoritos*/
.icon-heart-full{
    display: none;
}
.icon-heart-full.show{
    display: block;
}

.icon-heart-empty{
    display: block;
}
.icon-heart-empty.show{
    display: none;
}

