@import url(style.css);


header {
    box-sizing: border-box;
    height: 4.375rem;
    padding: .625rem 1.25rem;
    width: 100%;   
    background-color:rgba(21, 22, 29, 0.95);
    display: flex;
    justify-content: space-between;
    align-items: center;    
    position:fixed;
    z-index: 1;
    appearance: 95;    
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.search-bar-nav{
    display: none;
}

.search-sidebar {    
    display:flex;
    position: relative;
    align-items: center;
    width: 70%;
    margin: 1.25rem 1.875rem .625rem 1.875rem;
}

.search-input {
    width: 100%;
    height: 1.5625rem;    
    padding: .3125rem 1.25rem .3125rem 1.25rem;
    border-radius:.5rem;
    border: none;
    outline: none;
    background-color:var(--secondary-light);
    color: var(--white); 
    font-size: 1rem;    
}
.search-lupa{
    position: absolute;
    right: .9375rem;
    pointer-events: none;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo-img{
    height:2.5rem ;
    width: 4.375rem;
    margin: .1875rem 0 0 .4375rem;
}

.menu-button {
    margin: .3125rem .4375rem 0 0 ;   
    width: 1.75rem;
    height: 1.75rem; 
    cursor: pointer;
        
}

.navbar-right {
    display: flex;
    align-items: center;
}

.lupa-icon{
    cursor: pointer;
    height: 1.25rem;
    width: 1.25rem;
    margin: 0 .3125rem;
}

.icon {
    display: none;       
}

.user-icon{
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    margin-left: 2.5rem;
}

.sidebar{
    display: none;
    flex-direction: column; 
    position: fixed;
    background-color:var(--secondary-dark);
    width:100%;
    height: 100vh;    
    z-index: 3;
    color: white;
    scrollbar-width: thin;    
    overflow:scroll;
    font-family: var(--body);
    font-size: var(--normal);   
        
}

.sidebar.show{
    display:flex;
}

.sidebar .icon-cruz-menu{
    width: 2.375rem;
    height: 2.375rem;  
    position: absolute; 
    top: 1.25rem; 
    right: .625rem;
    cursor: pointer;  
}

.sidebar ul{    
    list-style: none;
    padding: 0 1.875rem ;
    
}
.sidebar a{
    text-decoration: none;
    color: var(--white);
}
.sidebar a:hover{
    color: #bbb;
}

.sidebar li{
    display: flex;
    align-items: center;
    height: 2.125rem;        
}

.sidebar li img{    
    margin-right: .9375rem;       
}

.sidebar hr{     
    border-width: 0;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.12);
    border-bottom-width: thin;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.user-menu{     
    display: none;          
    position: absolute;   
    position: fixed;
    background-color: var(--secondary-dark); 
    width: 100%;
    height: 100%;        
    padding-top: 6.25rem;    
    border-radius: 0 0 0 .5rem;
    box-shadow: 0 0 .3125rem var(--secondary);
    z-index: 2;
    color: var(--white);
}

.user-menu.show{               
    display: block;

}

.user-menu p {
    margin: .625rem 0 3.75rem 0 ;
    font-family: var(--title);
    font-size: 1.5625rem;
    font-weight: var(--font-weight-bold);
    text-align: center;
}

.user-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.user-menu li {
    padding: .625rem 2.5rem;    
    font-family: var(--body);
}

.user-menu li a {
    color: #fff;
    text-decoration: none;
}

.user-menu li a:hover {
    color: #bbb;
}

.user-menu .user-avatar {
    width: 5rem;
    height: 5rem;
    display: block;
    margin: 0 auto;
}

.user-menu .icon-cruz-profile {
    width: 2.375rem;
    height: 2.375rem;  
    position: absolute; 
    top: 1.25rem; 
    right: .625rem;
    cursor: pointer;  
}


@media (min-width: 768px) {

    .search-bar-nav {    
        display:flex;
        position: relative;
        justify-content: end;
        align-items: center;
        width: 30rem;
        height: 2.5rem;
        padding: 0 .9375rem;
        
    }
    
    .search-input {
        width: 100%;
        height: 1.875rem;    
        padding: .3125rem 2.5rem .3125rem 1.25rem;
        border-radius:.5rem;
        border: none;
        outline: none;
        background-color:var(--secondary-light);
        color: var(--white); 
        font-size: 1rem;    
    }
    .search-lupa{
        position: absolute;
        right: 1.875rem;
        pointer-events: none;
    }
    

    .icon {
        height: 1.5rem;
        width: 1.5rem;
        display: flex;
        cursor: pointer;        
        margin: 0 .3125rem;
        background-size: cover;
        transition: background-image 0.1s ease;    
    }

    .corazon {    
        background-image: url('../Iconos/Corazon.svg');
    }
    
    .corazon:hover {
        background-image: url('../Iconos/CorazonRellenado.svg');
    }

    .campana{
        background-image: url('../Iconos/Campana.svg')
    }

    .campana:hover{
        background-image: url('../Iconos/camapanaRellenado.svg')
    }

    .carrito{
        background-image: url('../Iconos/carrito.svg');
    }

    .carrito:hover{
        background-image: url('../Iconos/carritoRellenado.svg')
    }
    
    .lupa-icon{
        display: none;
    }

    .user-icon{
        width: 3.125rem;
        height: 3.125rem;
        margin-left: 2.5rem;
    }

    .menu-button{
        width: 1.75rem;
        height: 1.75rem;
    }

    .logo-img{
        height:auto ;
        width: 9rem;
    }

    .sidebar{
        display: none;
        background-color:var(--secondary-dark);
        position:fixed;
        width: 12.5rem;
        max-height: 95vh;
        margin-top: 4.375rem;
        overflow-y: auto;
    }
    .sidebar .icon-cruz-menu{
        display: none;
    }
    .sidebar.show{
        display:flex;
    }
    .sidebar ul{    
        list-style: none;
        padding: 1.25rem 1.625rem ;
    }

    .search-sidebar{
        display: none;
    }
    
    .user-menu{     
        right: 0;
        top: 4.375rem; 
        width: 15.625rem;
        height: 20.625rem;        
        padding-top: 3.625rem;
        padding-bottom: 1.25rem;
        
    }
    
    .user-menu p {
        margin: .625rem 0 2.1875rem 0 ;
        font-family: var(--title);
        font-weight: var(--font-weight-bold);
        text-align: center;
    }
    
    .user-menu li {
        padding: .3125rem 2.5rem;    
    }
        
    .user-menu li a:hover {
        color: #bbb;
    }
    
    .user-menu .user-avatar {
        width: 3.75rem;
        height: 3.75rem;
    }
}
.sidebar{
    scrollbar-width: thin; /* Establece el ancho del scrollbar como delgado */
    scrollbar-color: rgba(255, 255, 255, 0.2) #222328; 
}
