@import url(style.css);
.login-container{
    background-image: url(../Images/backblurredback1080.png);
    background-size:cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.form-login{
    width: 25rem;
    background-color: var(--transparent-dark-20);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    padding: 5.3125rem 0 0 0;
    
}
.input-email {
    padding-left: 30px;
    background: url(../Iconos/mailChiquito.svg) no-repeat ;
}
.input-pass{
    background: url(../Iconos/candadoChiquito.svg) no-repeat center;
}
.form-login input{
    font-size: var(--normal);
    font-family: var(--body);
    background-position: 10px;
    width: 15.625rem;
    height: 2.5rem;
    background-color: var(--secondary-light);
    border-radius: .5rem;
    padding-left: 2rem;
    border-style: none;
    margin: .3125rem 0;
}
.form-login h2{
    font: var(--title);
    font-size: var(--large);
    color: var(--white);
    padding: 0 0 1.8125rem 0;
}
.login-button{
    margin: 1.5625rem 0 1.5625rem 0;
}
.form-login hr{
    border: 1px solid var(--secondary-light);
    width: 15.625rem;
    margin-bottom: 1.6875rem;
}
.form-login p{
    margin: 1.5rem 0;
    color: var(--white);
    padding-bottom:5.75rem ;
}
.login-img{
    height: 63.5625rem
}

button{
    font-size: var(--small);
    border-radius: 8px;
    width: 8.1875rem;
    height: 2.25rem;
    border-style: none;
    color: var(--white);
    letter-spacing: 0.09rem;
}
.login-button{
    background: var(--primary-gradient-1);
    font-family: var(--button);
}
.google-btn{
  
}

.facebook-btn{
    background-color: #1877F2;
    width: 15.875rem;
    height: 2.25rem;
}

.external-btn img {
    padding: 0 1rem  0 .8125rem;
    height:1rem ;
    width: 1rem;
}
.external-btn{
    margin-bottom: .625rem;
    display: flex;
    align-items: center;
    color: black;
    width: 15.875rem;
    height: 2.25rem;
}

a{
    font-style: none;
    text-decoration: none;
    color: var(--white);
    font-weight: var(--font-weight-bold);
}