@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400&display=swap');/*hind font*/

:root{
    /*Colors*/
    --primary:#7949FF;
    --primary-dark:#591EFF;
    --primary-light:#9670FF;
    --primary-gradient-1:linear-gradient(90deg, #482C99 0%, #7949FF 100%);
    --primary-gradient-2:linear-gradient(180deg, #7949FF 0%, #482C99 100%);


    --secondary:#222328;
    --secondary-dark:#15161D;
    --secondary-light:#3F404A;
    --transparent-dark-50:rgba(34,35,40,0.5);
    --transparent-dark-90:rgba(23,23,27,0.9);


    --white:#FFFFFF;
    --transparent-white:rgba(217,217,217,0.5);
    --accent:#2ECC71;
    --error:#D01616;

    /*Fonts*/
    --titles:'Noto Sans'-sans-serif;
    --body:'Hind'-sans-serif;
    --button:'Hind'-sans-serif;
    --little-letter-spacing:letter-spacing: 0.09rem;



    --font-size-large:2rem;
    --font-size-normal:1.0625rem;
    --font-size-small:.875rem;
    --font-size-very-small:.625rem;

    --font-weight-medium:500;
    --font-weight-semibold:600;
    --font-weight-bold:700;
}
*{
    margin: 0;
    padding: 0;
}