@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400&display=swap');/*hind font*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

:root{
    /*Colors*/
    --primary:#7949FF;
    --primary-dark:#591EFF;
    --primary-light:#9670FF;
    --primary-gradient-1:linear-gradient(90deg, rgba(121,73,255,1) 0%, rgba(72,44,153,1) 100%);
    --primary-gradient-2:linear-gradient(90deg,  rgba(72,44,153,1)0%, rgba(121,73,255,1) 100%);
   

    --secondary:#222328;
    --secondary-dark:#15161D;
    --secondary-light:#3F404A;
    --transparent-dark-50:rgba(34,35,40,0.5);
    --transparent-dark-90:rgba(23,23,27,0.9);
    --transparent-dark-20:rgba(63,64,74,0.2);


    --white:#FFFFFF;
    --grey:rgba(217,217,217,1);
    --transparent-white:rgba(217,217,217,0.5);
    --accent:#2ECC71;
    --error:#D01616;

    /*Fonts*/
    --title:'Noto Sans',sans-serif;
    --body:'Hind',sans-serif;
    --button:'Hind',sans-serif;
    --little-letter-spacing:0.09rem;



    --large:2rem;
    --normal:1.0625rem;
    --small:.875rem;
    --very-small:.625rem;

    --font-weight-medium:500;
    --font-weight-semibold:600;
    --font-weight-bold:700;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--secondary);
}